channel eMx1of4 5 mem_src
channel e1ofN 16 mem_bl
channel e1ofN 16 mem_bl_
channel e1ofN 8 mem_col_select
channel e1ofN 8 mem_row_select

loop-injectfile mem_src unit_bs_aerv_mem.in
loop-expectfile mem_bl_ unit_bs_aerv_mem_bl.out
loop-expectfile mem_bl unit_bs_aerv_mem_bl.out
loop-expectfile mem_col_select unit_bs_aerv_mem_col_select.out
loop-expectfile mem_row_select unit_bs_aerv_mem_row_select.out

random
break-on-warn

mode reset
set g.Vdd 1
set g.GND 0
set g.vpsub 1
set g.vnsub 0
set g._sReset 0
set g.sReset 1
set g._pReset 1
set g.pReset 0

cycle

set g._pReset 0
set g.pReset 1

cycle

watchall

mode run
set g._pReset 1
set g.pReset 0

cycle

set g._sReset 1
set g.sReset 0

status X

advance 1000100000
