**~
**.ods
**.txt
**.log
**.fls
**.aux
**.fdb_latexmk
**.swp
**.prs
**.pdf
**.ai
**.scr
**.svg
**.pyc
**.bbl
**.blg
**.wdf
**.toc
**scratch**
AER_shared**
old
**.v
hsim**
**spi
**dat
**so
**sp
**port_info
**simv**
**log**
**key
**cfg
**csrc**
**AUX_PROC_PARSE
**png
**sim
**tar.gz
**max
**conf
**celltk**
**BAK
**\.nfs**
**\.spef**
**cosim_conf_base.xml
**pqr.trace
**pqr.names
