**~
**.ods
**.txt
**.log
**.fls
**.aux
**.fdb_latexmk
**.swp
**.prs
**.pdf
**.ai
**.scr
**.svg
**.pyc
**.bbl
**.blg
**.toc
**scratch**
AER_shared**
old
**.v
hsim**
**spi
**dat
**so
**sp
**port_info
**simv**
**log**
**key
**cfg
**csrc**
**AUX_PROC_PARSE
**png
**sim
