watchall

set_principal src.yp
set_principal src.ye
set_principal src.y
set_principal buf[0].yp
set_principal buf[0].ye
set_principal buf[0].y
set_principal buf[1].yp
set_principal buf[1].ye
set_principal buf[1].y
set_principal buf[2].yp
set_principal buf[2].ye
set_principal buf[2].y
set_principal buf[3].yp
set_principal buf[3].ye
set_principal buf[3].y
set_principal buf[4].yp
set_principal buf[4].ye
set_principal buf[4].y
set_principal buf[5].yp
set_principal buf[5].ye
set_principal buf[5].y

random_seed 0
random
break-on-warn

mode reset
set g.Vdd 1
set g.GND 0
set g.vpsub 1
set g.vnsub 0
set g._sReset 0
set g.sReset 1
set g._pReset 1
set g.pReset 0

cycle

set g._pReset 0
set g.pReset 1

cycle

watchall

mode run
set g._pReset 1
set g.pReset 0

cycle

set g._sReset 1
set g.sReset 0

status X

advance 1000100000
# step 1000
